.App {
  font-family: sans-serif;
  text-align: center;
}

.star::before {
  content: "\2606";
  font-size: 25px;
}

.star.rated::before {
  content: "\2605";
  font-size: 25px;
  color: brown;
}

span {
  cursor: pointer;
}
